<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.ewin.multids.mapper.sqlserver.SqlserverMapper">
    <select id="selectUserById" resultType="Map">
        SELECT * FROM WMS.dbo.WMS_Function WHERE FunctionCode = '2209'
    </select>
</mapper>